.odd{
    background-color: lightpink;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
}

.medium{
    font-size: 24px;
}

#num2{
    font-size: 34px;
    color: blue;
}

#num4{
    background-color: green;
    font-size: 24px;
}